/* Flash Rubi */
/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
/*Widget box*/
#container {
  animation: background 5s ease-out infinite alternate both;
  border: 1px solid rgba(161, 29, 51, 1);
  background: rgba(36, 36, 36, 1);
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
}
/*Track name*/
#name {
  color: rgba(255, 255, 255, 1);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  text-transform: none;
  position: absolute;
  top: 10px;
}
/*Artist name*/
#artists {
  color: rgb(250, 92, 118);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  text-transform: none;
  position: absolute;
  bottom: 12px;
}
/*Image cover box*/
.cover {
  background: rgb(30 30 30);
  border-radius: 5px 0px 0px 5px;
}
/*Image cover*/
img {
  animation: cover-spin 20s linear infinite,
    cover-border 5s ease-out infinite alternate both;
  border-radius: 50px 50px 50px 50px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 65px;
  height: 65px;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50px 50px 50px 50px;
}
/*Animations*/
@keyframes background {
  0%,
  100% {
    border: 1px solid rgba(231, 29, 54, 1);
    overflow: hidden;
  }
  50% {
    border: 1px solid rgba(80, 11, 23, 1);
    overflow: hidden;
  }
}
@keyframes cover-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cover-border {
  0%,
  100% {
    border: 1px solid rgba(231, 29, 54, 1);
  }
  50% {
    border: 1px solid rgba(80, 11, 23, 1);
  }
}
