/* Crimson Kingdom */
#container {
    background: rgba(30, 33, 36, 1);
  }
#container.active {
  animation: background 10s ease-out infinite alternate both;
}
@keyframes background {
  0% {
    background: rgb(80, 11, 23);
  }
  40%, 100% {
    background: rgba(161, 29, 51, 1);
  }
}