/* Battery Charging */
#container {
    background: rgba(30, 33, 36, 1);
}
#container.active {
  animation: background 5s linear infinite;
}
@keyframes background {
  0%,
  100% {
    background: rgba(29, 185, 84, 1);
  }
  10% {
    background: rgba(30, 33, 36, 1);
  }
}