/* Twichify */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
#container {
  background: rgba(30, 33, 36, 1);
}
#container.active {
  animation: background 10s ease-out infinite alternate both;
}
#artists {
  animation: artists 4s ease-out infinite alternate both;
  font-family: 'Balsamiq Sans', cursive;
}
#name {
  animation: name 4s ease-out infinite alternate both;
  font-family: 'Patrick Hand', cursive;
}
@keyframes background {
  0% {
    background: rgba(29, 185, 84, 1);
  }
  20%,
  100% {
    background: rgba(30, 33, 36, 1);
  }
}
@keyframes artists {
  0%, 100% {
    color: rgba(100, 65, 165, 1);
  }
  50% {
    color: rgb(185, 163, 227);
  }
}
@keyframes name {
  0%, 100% {
    color: rgb(200, 200, 200);
  }
  50% {
    color: rgb(255, 255, 255);
  }
}