/* Spotify Light Style */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
#container {
    animation: bar 5s ease-out infinite alternate both;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border-bottom: 4px solid rgba(29, 185, 84, 1);
}
img {
    border-radius: 15px 0px 0px 15px;
}
#artists {
    color: rgba(30, 30, 30, 1);
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
}
#name {
    color: rgba(29, 185, 84, 1);
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
}
@keyframes bar {
  0%, 100% {
    border-bottom: 3px solid rgba(29, 185, 84, 1);
  }
  50% {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
  }
}